# Ignore all .safetensors files in INPUT and OUTPUT
INPUT/
OUTPUT/

# Ignore virtual environments if you're using one
venv/
env/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore logs and temp files
*.log
*.tmp
*.csv
*.sha256
script_log.txt
missing_packages.txt
installed_packages.txt
script_log.txt